/* .sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: space-between;
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  height: 100%;
} */
.sidebar-nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-links-text {
  margin: 0px;
  font-family: 'Roboto';
  cursor: pointer;
}
.sidebar-footer-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}
.footer-icons {
  height: 40px;
  width: 40px;
}
.footer-heading {
  margin: 0px;
  font-size: 24px;
}
